/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    overflow: hidden; /* Prevent scrolling globally */
    background-color: #0F172A; /* Match the background color */
  }
  